.body {
   
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(facebbok\ background.jpg);
}

.login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #7a7979;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.login-input {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #e9e5e5;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #65a9f1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #073c75;
}
